body {
  font-family: Lato;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flex {
  flex: 1 1 auto;
}

.align-start {
  align-self: flex-start;
}